<div class="container">
  <h1><%= @team.name %></h1>
  <ul>
    <li><%= @team.gender %></li>
    <li><%= @team.location %></li>
  </ul>
  <%= simple_form_for [ @team, @player ] do |f| %>
    <%= f.input :first_name, placeholder: 'First Name' %>
    <%= f.input :last_name, placeholder: 'Last Name' %>
    <%= f.input :age, placeholder: 'Age' %>
    <%= f.input :nationality, placeholder: 'Nationality' %>
    <%= f.input :position, placeholder: 'Nationality' %>
    <%= f.submit class: 'button mt-2 wt-100' %>
  <% end %>
</div>
