<div class="container">
  <div class="mt-5">
    <h1><%= @team.name %></h1>
    <div class="flex w-100 justify-content-around m-3">
      <ul class="">
        <li><%= @team.gender %></li>
        <li><%= @team.location %></li>
      </ul>
      <% if user_signed_in? && (@team.user === current_user || current_user.admin) %>
        <%= simple_form_for [ @team, @player ] do |f| %>
          <%= f.input :first_name, placeholder: 'First Name' %>
          <%= f.input :last_name, placeholder: 'Last Name' %>
          <%= f.input :age, placeholder: 'Age' %>
          <%= f.input :nationality, placeholder: 'Nationality' %>
          <%= f.input :position, placeholder: 'Nationality' %>
          <%= f.submit class: 'button mt-2 wt-100' %>
        <% end %>
      <% end %>
    </div>
    <div calss="flex border border-red-500">
      <% @players.each do |player| %>
        <ul class="">
          <li><%= player.first_name %></li>
          <li><%= player.last_name %></li>
          <li><%= player.age %></li>
          <li><%= player.nationality %></li>
          <li><%= player.position %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
